:root {
  --background: #e5e5e5;
  --primary-anthracite-100: #1a2328;
  --primary-anthracite-80: #484f53;
  --primary-anthracite-70: #5f6569;
  --primary-anthracite-50: #8c9193;
  --primary-anthracite-25: #c6c8c9;
  --primary-white: #ffffff;
  --secondary-white-50: #dde3ec;
  --secondary-white-25: #eef1f5;
  --primary-blue-100: #0088da;
  --primary-blue-80: #2684ff;
  --primary-blue-50: #8ec1e0;
  --primary-blue-25: #b9cbd6;
  --secondary-blue-50: #bac6d8;
  --secondary-blue-25: #e5eaf0;
  --secondary-blue-5: #f6f8fa;
  --primary-red-100: #bc2626;
  --primary-red-80: #bd3e3e;
  --border-rarius: 5px;
  --primary-font: 'Oswald', sans-serif;
}
