* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input::placeholder {
  font-family: var(--primary-font);
}

.container {
  margin: 0 auto;
  width: 1161px;
}