:root {
  --background: #E5E5E5;
  --primary-anthracite-100: #1A2328;
  --primary-anthracite-80: #484F53;
  --primary-anthracite-70: #5F6569;
  --primary-anthracite-50: #8C9193;
  --primary-anthracite-25: #C6C8C9;
  --primary-white: #FFFFFF;
  --primary-blue-100: #0088DA;
  --secondary-blue-50: #BAC6D8;
  --primary-red-100: #BC2626;
  --border-rarius: 5px;
  --primary-font: 'Oswald', sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

input::placeholder {
  font-family: var(--primary-font);
}

.container {
  margin: 0 auto;
  width: 1161px;
}

.table-app {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.interface  {
  display: flex;
  flex-direction: row;
  font-weight: 400;

  &__search {
    margin-right: 48px;
  }

  &__options {
    display: flex;
    gap: 36px;
  }

  &__actions {
    margin-left: auto;
    display: flex;
    gap: 36px;
  }

  &__item {

  }
}

.interface-item {
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 140px;
  border: 1px solid #BAC6D8;
  border-radius: var(--border-rarius);
  font-size: 0.75rem;
  font-weight: 400;
  background-color: var(--primary-white);

  &:focus {
    outline: none;
  }
  
  &--search {
    color: var(--primary-anthracite-70);

    &::placeholder {
      font-size: 0.75rem;
      font-weight: 400;

    }
  }

  &--option {
    color: var(--primary-anthracite-80)
  }

  &--action {
    font-weight: 500;
    color: white;
    border-color: rgba(0, 0, 0, 0.35);
  }

  &--action-blue {
    background-color: var(--primary-blue-100);
  }

  &--action-red {
    background-color: var(--primary-red-100);
  }
}

.table {
  width: 100%;
  background-color: white;
  filter: drop-shadow(0px 2px 18px #DDE3EC);
  border-radius: var(--border-rarius);

  &__heading {
    height: 42px;
    color: var(--primary-anthracite-80);
    font-size: 0.75rem;
  }
}